*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Avenir';
  }
  .review{
    align-self: center;
  }
  .footer-lists{
    padding-left: 50px;
  }
  .footer-lists a{
      color:blue;
  }
  .check-icon{
      margin-left: 10px;
  }
  @media(max-width:992px){
    .active{
        background-color: #2E2241;
    }
  }